/* 页面整体 */
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

/* 返回主页按钮 */
.backhome-btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: #00b51d;
    border: 1px solid #00b51d;
    border-radius: 5px;
}

.backhome-btn:hover {
    text-decoration: none;
    background-color: #00b51d;
    color: white;
    border: 1px solid #00b51d;
}