html,body {
	height: 100%;
}

.body {
	background: #f4f4f4;
	font-size: 14px;
}

.add {
  width: 100%;
  height: 60px;

  position: auto;
  padding: 10px 10px;
  top: 0;
  left: 0;
  /*z-index: 5;*/

  background: #f4f4f4;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
}

.add input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-indent: 18px;
  background: #ffffff;
  border-radius: 25px 25px 25px 25px;
  border: 0px;
  box-shadow: none;
  outline: none;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.add input::-webkit-input-placeholder {
  color: rgba(117, 115, 115, 0.75);
}

.add input:-moz-input-placeholder {
  color: rgba(117, 115, 115, 0.75);
}

.add input::-moz-input-placeholder {
  color: rgba(117, 115, 115, 0.75);
}

.add input:-ms-input-placeholder {
  color: rgba(117, 115, 115, 0.75);
}

.add button {
  width: 40px;
  height: 40px;

  position:absolute;
  top:66px;
  right:15px;
  z-index:2;

  border-radius: 25px;
  background: #fff;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.add button svg {
  width: 16px;
  height: 16px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -8px 0 0 -8px;
}

.add button svg .fill {
  fill: #007bff;
}

.apptitle {
  margin: left;
  padding: 20px 30px 0px 30px;
  font-size: 20px;
}

.container {
  width: auto;
  float: left;
  background-color: #f4f4f4;
  padding:0px 0px 10px 0px;
}

.todo {
  width: 100%;
  float: left;
  list-style-type: none;
  padding: 10px 0px 0px 15px;
}

.todo li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  color: #000000;
  line-height: 22px;

  background: #fff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 10px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
}

.todo li .buttons {
  width: 100px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

.todo li .buttons a {
  width: 50px;
  height: 50px;
  float: left;
  background: #ffffff;
  position: relative;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo li .buttons a:last-of-type:before {
  content: '';
  width: 1px;
  height: 30px;
  background: #edf0f1;

  position: absolute;
  top: 10px;
  left: 0;
}

.todo li .buttons a svg {
  width: 22px;
  height: 22px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -11px 0 0 -11px;
}
.todo li .buttons a.remove svg {
  background: #ffffff;
}
.todo li .buttons a svg .fill {
  transition: fill 0.2s ease;
}

.todo li .buttons a.remove svg .fill {
  fill: #c0cecb;
}

.todo li .buttons a.remove:hover svg .fill {
  fill: #e85656;
}

.todo li .buttons a.complete svg {
  border-radius: 11px;
  border: 1.5px solid #007bff;

  transition: background 0.2s ease;
}

.todo li .buttons a.complete:hover svg {
  background: #007bff;
}

.todo li .buttons a.complete:hover svg .fill {
  fill: #fff;
}

.todo li .buttons a.complete svg .fill {
  fill: #007bff;
}
