.btn-color{
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.btn-color input{
    background-color: #00b51d;
    color: #ffffff;
    font-size: 16px;
    width: 150px;
    height: 40px;
    margin-left: 136px;
    border: 1px solid #00b51d;
    border-radius: 4px;
    cursor: pointer;
}

.btn-color input:hover{
    background-color: #03a51d;
}

.btn-color input:active{
    background-color: #03a51d;
}
