/* 页面整体 */
body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

/* flash消息 */
.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}

/* 头像 */
.avatar {
    width: 40px;
}

/* 导航栏 */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

#content{
    background-color: rgba(255, 255, 255, 0.95);
    width: 430px;
    height: 150px;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 10px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.edit-box{
    margin-top: 12px;
    width: 100%;
    margin-left: 60px;
    margin-right: auto;
    display: inline-block;
}

.edit-box input{

    height: 32px;
    margin-left: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding-left: 42px;
}

.edit-box input:hover{
    border: 1px solid #00b51d;
}

.edit-box input:after{
    border: 1px solid #00b51d;
}

/* update按钮 */
.update-btn{
    margin-top: 12px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.update-btn input{
    background-color: #00b51d;
    color: #ffffff;
    font-size: 16px;
    width: 150px;
    height: 40px;
    margin-left: 136px;
    border: 1px solid #00b51d;
    border-radius: 4px;
    cursor: pointer;
}

.update-btn input:hover{
    background-color: #03a51d;
}

.update-btn input:active{
    background-color: #03a51d;
}
