<!DOCTYPE html>
<html lang="zh"><!--页面主要语言-->
<head>
    <meta charset="UTF-8">
    <meta name="author" content="zouxlin3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="bootstrap4.5.0/css/bootstrap.min.css')"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <!--{% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}-->

    <!--{% block head %}{% endblock %}-->
    {% block body %}{% endblock %}
</body>
</html>
