<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="zouxlin3">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.svg') }}">
</head>
<body class="body">
    {% block body %}{% endblock %}
    <script src="static/js/jquery.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>
