{% extends 'base.html' %}

{% block title %}
<title>todo.NUTURE</title>
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css"-->
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="#">To Do</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">退出</a>
        </li>
    </ul>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-color" type="submit">Search</button>
        </form>
    </div>
</nav>
{% endblock %}
