{% extends 'base.html' %}

{% block title %}
<title>todo.NUTURE</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
{% endblock %}

{% block body %}

<header>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a class="navbar-brand" href="#">To Do</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">退出</a>
            </li>
        </ul>
    </nav>
</header>

<div class="add">
    <input type="text" placeholder="添加任务" id="addtask">
    <button id="add_btn" onclick="return add()">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve"><g><path class="fill" d="M16,8c0,0.5-0.5,1-1,1H9v6c0,0.5-0.5,1-1,1s-1-0.5-1-1V9H1C0.5,9,0,8.5,0,8s0.5-1,1-1h6V1c0-0.5,0.5-1,1-1s1,0.5,1,1v6h6C15.5,7,16,7.5,16,8z"/></g></svg>
    </button>
</div>

<h4 class="apptitle">任务</h4>

<div class="container">
    <!-- Uncompleted tasks -->
    <ul class="todo" id="todo">
        {% for task in tasks: %}
            <li></li>
        {% endfor %}
    </ul>
</div>

<script src="static/js/index.js"></script>

{% endblock %}
