{% extends 'base.html' %}

{% block title %}
<title>设置-todo.NUTURE</title>
<link rel="stylesheet" href="static/css/login.css" type="text/css">
{% endblock %}

{% block body %}
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand"><!--logo-->
                    <img src="static/images/logo.svg" alt="logo">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h4 class="card-title">设置</h4>
                        <form method="POST" class="my-login-validation" onsubmit="return check()">
                            <div class="form-group">
                                <label for="password">新密码</label><!--data-eye是自定义属性-->
                                <input id="password" type="password" class="form-control" name="password" data-eye>
                                <div class="invalid-feedback" id="password-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label for="confirmpassword">确认密码</label><!--data-eye是自定义属性-->
                                <input id="confirmpassword" type="password" class="form-control" name="confirmpassword" data-eye>
                                <div class="invalid-feedback" id="confirmpassword-feedback"></div>
                            </div>

                            <div class="form-group m-0">
                                <button type="submit" class="btn btn-primary btn-block">
                                    修改
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright &copy; 2020 &mdash; todo.NUTURE
                </div>
            </div>
        </div>
    </div>
</section>
<script src="static/js/setting_password.js"></script>
{% endblock %}