{% extends 'base.html' %}

{% block title %}
<title>{{ user.name }}'s Settings</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}" type="text/css">
{% endblock %}

{% block head %}
<h1>
    <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
    {{ user.name }}'s Settings
</h1>
{% endblock %}

{% block content %}
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a> </li>
        <li><a href="{{ url_for('settings') }}">Settings</a> </li>
    </ul>
</nav>
<div id="content">
    <form method="post">
        <div class="edit-box">
            Your name: <input type="text" name="name" autocomplete="off" required value="{{ user.name }}">
        </div>
        <div class="update-btn">
            <input type="submit" name="submit" value="Update">
        </div>
    </form>
</div>
{% endblock %}